@model ADVCoupon.ViewModel.UsersViewModels.UserViewModel

@{
    ViewData["Title"] = "Create";
}

<script>
    function showNeededSelect() {
        option = document.getElementById("roleSelect").value;

        if (option === '@ADVCoupon.Helpers.Constants.SUPPLIER_ROLE') {
            document.getElementById("providerSelect").hidden = false;
            document.getElementById("networkSelect").hidden = true;
        } else if(option==='@ADVCoupon.Helpers.Constants.MERCHANT_ROLE'){
            document.getElementById("providerSelect").hidden = true;
            document.getElementById("networkSelect").hidden = false;
        }
    };
</script>

<h2>Create</h2>

<h4>ApplicationUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*<div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" id="roleSelect" onchange="showNeededSelect(this)">
                    <option selected value="@ADVCoupon.Helpers.Constants.SUPPLIER_ROLE">Supplier</option>
                    <option value="@ADVCoupon.Helpers.Constants.MERCHANT_ROLE">Merchant</option>

                </select>
            </div>



            <div class="form-group" id="providerSelect">
                <label asp-for="Provider" class="control-label"></label>
                <select asp-for="Provider"
                        asp-items="@Model.Providers">
                </select>
            </div>

            <div class="form-group" id="networkSelect" hidden>
                <label asp-for="Network" class="control-label"></label>
                <select asp-for="Network"
                        asp-items="@Model.Networks">
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
