@using ADVCoupon.ViewModel.PdfViewModel;
@model CouponPdfViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CouponPdf</title>
</head>
<body>
    <div>
        <b> @Model.Caption</b>
    </div>
    <div>
        <img src="data:image/png;base64, @(Convert.ToBase64String(Model.Image))" />
    </div>
    <div>
        <b> @Model.DiscountType</b>
    </div> 
    <div>
        <b> @Model.Discount</b>
    </div>
    <div>
        <b> From @Model.StartDate to @Model.EndDate</b>
    </div>
    <div>
        <img src="@Model.BarcodeLink" />
    </div>

    @foreach(var item in Model.NetworkImages)
    {
        <img src="data:image/png;base64, @(Convert.ToBase64String(item))" />
    }

</body>
</html>
