@model ADVCoupon.ViewModel.CouponViewModel.CouponCreateItemViewModel

@{
    ViewData["Title"] = "Details";
}
<script>
document.addEventListener('DOMContentLoaded', function(){ 

        option = document.getElementById("isApprovedHidden").value;
        if(option === "True")
        {
            document.getElementById("activateCouponButton").hidden = true;
            document.getElementById("deactivateCouponButton").hidden = false;
        } else {
            document.getElementById("activateCouponButton").hidden = false;
            document.getElementById("deactivateCouponButton").hidden = true;
        }

    optionIsAbsoluteDiscount = document.getElementById("IsAbsoluteDiscountHidden").value;
        if(optionIsAbsoluteDiscount === "True")
        {
            document.getElementById("discountAbsoluteForm").hidden = false;
            document.getElementById("discountPercentageForm").hidden = true;
        } else {
            document.getElementById("discountAbsoluteForm").hidden = true;
            document.getElementById("discountPercentageForm").hidden = false;
        }


    });


</script>
<h2>Details</h2>

<div>
    <h4>Coupon</h4>
    <hr />
    <dl class="dl-horizontal">
            <input type="hidden" asp-for="IsApproved" id="isApprovedHidden" />
            <input type="hidden" asp-for="IsAbsoluteDiscount" id="IsAbsoluteDiscountHidden" />

        <dt>
            @Html.DisplayNameFor(model => model.Caption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Caption)
        </dd>
        <div id="discountPercentageForm">
        <dt>
            @Html.DisplayNameFor(model => model.DiscountPercentage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscountPercentage)
        </dd>
            </div>
        <div id="discountAbsoluteForm">
        <dt>
            @Html.DisplayNameFor(model => model.DiscountAbsolute)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscountAbsolute)
        </dd>
            </div>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.TotalCapacity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalCapacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProviderName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageView)
        </dt>
        <dd>
            <img style='width:80px; height:80px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ImageView))" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>
       <dd>
            @Html.DisplayFor(model => model.IsApproved)

        </dd>
        <dd>
        </dd>
        
    </dl>
</div>
<div>
    <a id="activateCouponButton" asp-action="ActivateCoupon" asp-route-id="@Model.Id">Activate</a> 
    <a id="deactivateCouponButton" asp-action="DeactivateCoupon" asp-route-id="@Model.Id">Deactivate</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
