@model IEnumerable<ADVCoupon.ViewModel.CouponViewModel.CouponDetailItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TotalCapacity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentCapacity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CouponImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CouponName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentCapacity)
            </td>
            <td>
            <img style='width:80px; height:80px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.CouponImage))" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouponName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CouponGuid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CouponGuid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CouponGuid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
